.anime-player__wrapper{
    background-color: #04050A;
    padding-bottom: 40px;
    padding-top: 40px;
}
.anime-player__title-name{
    color: #fff;
    font-family: 'Oswald';
    font-size: 18px;
    margin-bottom: 20px;
}
.anime-player{
    display: flex;
    justify-content: center;
}