
.news__cards-second{
    padding-top: 20px;
}
.news__cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -9px;
}
.white-theme .news__card{
    background-color: #fff;
}
.news__card{
    min-height: 300px;
    border-radius: 10px;
    width: 100%;
    background-color: #1c1c1c;
    position: relative;
    margin: 0 9px 5px;
}
.white-theme .news__card-social-info{
    color: #000;
}
.news__card-link{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.news__card-img{
    height: 200px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.news__card-img::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.24);
    z-index: 5;
    pointer-events: none;
    border-radius: 10px 10px 0px 0px;
}
.news__card-like-count{
    margin-right: 7px;
}
.news__card-about{
    margin: 10px 20px 0 20px;
}
.news__card-social img{
    height: 15px;
    width: 15px;
}
.news__card-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.white-theme .news__card-title p{
    color: #000;
}
.news__card-title p{
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 600;
    color: #fff;
    font-size: 14px;
}

.news__card-social-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-family: 'Roboto';
    color: #b9b9b9;
    font-size: 12px;
}
.news__card-social{
    display: flex;
    align-items: center;
}